<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="stylesheet/login.css">
</head>
<body>


<header>
<div class="container">  



 
 <nav>
   <ul id="list">
    <li><h1>Profits With Advertising</h1></li><br>
   
   </ul>
 </nav>
 
 </div>  

 </header>



<h1 id="createA">Log In</h1>

<div class="flex-box-container-1">

<form id="login" name="login" method="POST" action="/users/login">
    <div>
        <label id="userNameL" for="username">Username: </label>
        <input id="username" type="text" name="username"  class="form-control" placeholder="UserName*" required>
    </div>
    <div>
       <label id="passwordL" for="password">Password: </label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password*"  required>
    </div>
    <div>
        <button id="submit12" type="submit">Submit</button>
    </div>
</form>

</div>

<script type="text/javascript" src="/script.js"></script>
</body>
</html>